

/*body{
	background: #8D86C9; 
}

.card-w{
	width: 50rem;
	margin: auto;

}
.input-f{
	width: 38rem;
	 
}
.inp-f{
	display: inline-block;
}
.task-f{
	 
	position: absolute;
	left:42rem;
	 display: inline-block;

}
.btn{
	background-color: #242038;
}

.comp{
	position: relative; 
	left: 385px;
	margin-left:100px: 
}

.task-d{
	position: relative; 
	left: 44px;
	margin.left:100px: 
}
.app{
	 
	margin: auto;
}
.txt-compl{
	display: inline-block;
}
.icon{
	 margin-top: -8px;
}
.desp{
	display: inline-block;
}
#taskCompletes{

	padding: 0px;
}
#listTask{
	padding: 0px;
}*/
